.node {
    width: 20px;
  height: 20px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  border-radius: 10%;
}

.node-finish {
    background-color: red;
}

.node-start {
    background-color: green;
}

.node-wall {
    background-color: rgb(0, 0, 0);
}

.node-visited {
    animation: visited 1.5s ease-in-out 0.5s 1 alternate forwards;
}

.node-wall-animated {
    animation: wall 0.5s ease-in-out -1s 1 alternate forwards;
}

@keyframes wall {
    0% {
        transform: scale(0.5);
        background-color: rgb(211, 31, 31);
        border-radius: 100%;
    }
    100% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
        border-radius: 10%;
    }
}

@keyframes visited {
    0% {
        transform: scale(0.3);
        background-color: #D8DDEF;
        border-radius: 100%;
    }
    
    50% {
        background-color: #A0A4B8;
    }

    75% {
        transform: scale(1.2);
        background-color: #7293A0;
    }

    85% {
        transform: scale(1.1);
        background-color: #45B69C;
    }

    100% {
        transform: scale(1);
        background-color: #21D19F;
    }
}

.node-shortest-path {
    animation: shortestPath 1.5s ease-in-out 0.5s 1 alternate forwards;
}

@keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: #525B88;
    }
  
    50% {
      transform: scale(1.2);
      background-color: #DEE2FC;
    }
  
    65% {
      transform: scale(1.1);
      background-color: #c7c7c7;
    }

    /* 85% {
      transform: scale(1.05);
      background-color: #1b5201;
    } */
    100% {
      transform: scale(1);
      background-color: #525B88;
    }
  }
